#div.h3{
    margin: 4px;
}

#btn-group .btn:hover {
    background-color: #3e8e41;
}

hr.line_1_style {
    height: 6px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

hr.line_2_style {
    height: 6px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}


.add_to_watchlist{
    background:white;
    position:absolute;
    left:500px;
    top:120px;
    font_size:10px;
    color:#28a745;
    border-radius: 12px;
}

.add_to_watchlist:hover{
    color:#339999;
}

.quote-send{
    position:absolute;
    right:46px;
    top:120px;
}

.all_style{
    max-width: 1350px;
    margin: 0 auto;
}

.information_board{
    width: 1500px;
    position:absolute;
    top:800px;
}

.information_board_small{
    display: inline-block;
    width: 1000px;
}

.link_title{
    font-size: 20px;
    color:black;
    font-weight: bold;
    margin-top:0;

}

.link_content{
    font-size: 15px;
    color:black;

}

.summary_chart_size{
    height: 500px;
    width: 600px;
}

.chart_size{
    height: 350px;
    width: 100%;
}

.like {
    font-size:30px;
    color:#ccc;
    cursor:pointer;
}

.do_like{
    font-size:30px;
    color:#f00;
    cursor:pointer;
}

