body { -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Microsoft yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: #F1F4F9;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0; padding: 0;
}
*{ margin: 0; padding: 0;}
input{ margin: 0;}
a{ text-decoration: none; color: #333;}
ul,li{ list-style: none;}
.fl{float: left;}
.fr{ float: right;}
.grey{ color: #999;}
.font12{ font-size: 12px;}
.clear{ clear: both;}
.magtop30{ margin-top: 30px;}
.table tr td span.green{ color: #22baa0;}
.table tr td span.orange{ color: #ffaa3d;}
.table tr td span.black{ color: #000000 ;}
.table tr td span.red{ color: #FF0000 ;}
.table tr th span.green{ color: #22baa0;}
.table tr th span.red{ color: #FF0000;}
.table tr th span.orange{ color: #ffaa3d;}
.table tr th span.black{ color: #000000 ;}
a.blue{ color: #12AFCB;}
span.green{ color: #22baa0;}

.content-wrapper{
    min-height: 100%;
    z-index: 800;
}
.content-header{
    background: #e9edf2;
    border-bottom: 1px solid #dee2e8;
    position: relative;
/*     padding: 20px; */
    overflow: hidden;
    width:100%;
}
.content-header > h3 {
    font-size: 24px;
    font-weight: 300;
    color: #74767d;
    padding: 0;
    margin: 0 0 4px;
}
.content-header a{ font-size: 13px; color: #90999c;}
.breadcrumb{ color: #90999c;}
.breadcrumb span{ color: #777;}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-hd-title {
    padding-top: 20px;
}
.pt-l {
    float: left;
    font-size: 16px;
    font-weight: bold;
}
.pt-l span{ font-size: 12px; color: #f25656; margin-left: 10px; font-weight: normal;}
.pt-l span.grey{ color: #999;}
.pt-l i {
    font-size: 12px;
    border: 1px solid #12AFCB;
    border-radius: 50px;
    padding: 2px 8px;
    font-style: normal;
    margin-left: 7px;
    font-weight: normal;
    color: #12AFCB;
}
.pt-r {
    float: right;
    font-size: 12px;
    color: #999;
}
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}
.content-wb {
    min-height: 130px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}
.panel-body {
    padding: 0px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table tr.t{ border-bottom: 2px solid #ddd;}
.table > thead > tr > th.blue, .table > thead > tr > th span.blue {
    color: #12AFCB;
}
.table > tfoot > tr > th, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-bottom: 1px solid #f4f4f4;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
    padding: 20px 8px 24px 11px;
}
.table>tbody>tr>td a{ color: #12AFCB;}
/* .table > thead > tr > th { */
/*     border-bottom: 2px solid #ddd; */
/*     color: #999; */
/*     font-weight: normal; */
/*     text-align: left; */
/* } */
.table > thead > tr > th.text-right{ text-align: right;}
.table > thead > tr > th.blue, .table > thead > tr > th span.blue{ color: #12AFCB;}
.table > tbody > tr:hover{ background:#eee; }
.panel-hd-title{ padding-top: 20px;}
.pt-l{ float:left; font-size: 16px; font-weight: bold;}
.pt-l i{ font-size: 12px; border: 1px solid #12AFCB; border-radius: 50px; padding: 2px 8px; font-style: normal; margin-left: 7px; font-weight: normal; color: #12AFCB;}
.pt-r{ float: right; font-size: 12px; color: #999;}

.pt-r .btn { padding: 7px 12px; background: #e7e7e7; color: #333; border: 1px solid #e7e7e7; font-family: "Microsoft yahei";}
.pt-r .pt-btn{ background: #22baa0; color: #fff; border: 1px solid #22baa0;}
.input-group-btn select{ padding: 7px 0; border: 0; color:#999;}
.pt-r-wd{ padding: 7px 0;}
.pt-r-l{ float: left; border: 1px solid #e5e5e5; border-right: 0; padding-left: 7px;}
/*.btn-i-print{ display:inline-block; width:13px; height:12px; background: url("../images/print.png") no-repeat center;}*/
.pt-btn{ margin-left: 15px;}
.table tr td span{ display: block; color: #999;}
.nav-tabs{ border-bottom: 1px solid #ddd; overflow: hidden; margin-top: 20px;}
.nav-tabs>li{ float: left; margin-bottom: -1px;}
.nav-tabs>li>a{ display: block; padding: 10px 15px; margin-right: 4px; background: #fff;}
.nav-tabs>li>a:hover{ background: #f1f1f1;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover{ border: 1px solid #ddd; border-bottom-color:transparent; background: #f00;}

.nav-tabs li.active a, .nav-tabs li.active a:hover{ background: #12AFCB; color: #fff; border: 1px solid #12AFCB;}
.more-num{ height: 41px; border: 0; text-align: center; font-size: 14px; color: #333; font-family: "Microsoft yahei"; background: #eee; padding: 0 7px;}


.light-theme a, .light-theme span {float: left;color: #666;font-size:12px;line-height:20px;font-weight: normal;text-align: center;border: 1px solid #BBB;min-width: 10px;padding: 0 6px;margin: 0 5px 0 0;border-radius: 3px;box-shadow: 0 1px 2px rgba(0,0,0,0.2);background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}
.light-theme ul{ margin: 5px auto 15px; width: 100%; padding-left: 5px; text-align: center;}
.light-theme ul li { display: inline-block; padding: 0; border: 0;text-decoration:none;}
.light-theme ul li a,.light-theme ul li span{ color: #666;padding:5px 10px;font-size:12px;line-height:1.5;}
.light-theme ul li span.prev,.light-theme ul li span.next{border:1px solid #ddd;background-color:#fff;color:#666;}
.light-theme a:hover {text-decoration: none;background: #FCFCFC;}
.light-theme .current {background: #5ac9fb;color: #FFF;border-color: #14b2f9;box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;cursor: default;}
.light-theme .ellipse {background: none;border: none;border-radius: 0;box-shadow: none;font-weight: bold;cursor: default;}
.disabled {background-color: #D0D0D0;color: #808080;}

.td-table{width:100px;}
.type-line{ float: left; width: 5px; line-height: 35px;margin: 0px;padding: 0;}
.hidden-sm{ display: none;}
.select-high{height:39px;}
.choose-date{width:100%;height:35px;}
.share-tr{ float:left; width:128%; padding: 0 15px;}
.share-tr-wb{ float:left; width:100%; padding: 0 15px;}
.share-tdd{float: left; width:1%; margin: 11px 0; margin-right: -1px;margin-left: -17px;}
.share-tdd-wb{float: left; width:6%; margin: 11px 0; margin-right: -1px;margin-left: -17px;}
.share-td{float: left; width:20%; margin: 5px 0; margin-right: 30px;}
.share-td-wb{float: left; width:17%; margin: 5px 0; margin-right: 30px;}
.share-td-wbwh{float: left; width:15%; margin: 5px 0; margin-right: 30px;}
.share-td-width{width:16%;}

/*.input-width{width:44}*/
.form-controlInput{ display:block; border: 1px solid #ccc; padding: 6px 12px; line-height: 25px; font-size: 14px; color: #999;}

.form-controledituu{ display:block; width:60%; border: 1px solid #ccc; padding: 6px 12px; line-height: 25px; font-size: 14px; color: #999;}
.form-controleditu{ display:block; width:28%; border: 1px solid #ccc; padding: 6px 12px; line-height: 25px; font-size: 14px; color: #999;}
.form-controlCCC{ display:block; width:100%; border: 1px solid #ccc; padding: 6px 12px; line-height: 25px; font-size: 14px; color: #999;}
.form-controlCC{ display:block; width:100%; border: 1px solid #ccc; padding: 6px 12px; line-height: 25px; font-size: 14px; color: #999;}
.form-control200{ display:block; width:200px; border: 1px solid #ccc; padding: 6px 12px; line-height: 25px; font-size: 14px; color: #999;}
.form-controlwb{ display:block; width:85%; border: 1px solid #ccc; padding: 6px 12px; line-height: 25px; font-size: 14px; color: #999;}


.share-row{ float:left; width:100%; padding: 0 15px;}
.share-list{float: left; width: 446px; margin: 5px 0; margin-right: 30px;}
.form-control{ display:block; width:420px; border: 1px solid #ccc; padding: 6px 12px; line-height: 25px; font-size: 14px; color: #999;}
.btn-group .btn{ float: left; border: 1px solid #ccc; padding: 9px 12px;}
/*.btn-group .btn span{ display:inline-block; width:6px; height:6px; background: url("../images/icon.png") no-repeat;}*/
.input-num{ float: left; width: 361px; border-left: 0;}
.btn-cx{ float: left; width: 90px; height: 35px; background: #12AFCB; border-style: solid; border-width: 5px; color: #fff; text-align: center; font-size: 14px; margin-bottom: 20px;}
.btn-dx{ float: left; width: 90px; height: 35px; background: #12AFCB; border-style: solid; border-width: 5px; color: #fff; text-align: center; font-size: 14px; margin-bottom: 20px;}

.share-note{ float: left; height: 35px; line-height: 35px; font-size: 12px; background:#fcf5d3; color: #b09f4c; padding: 0 15px; margin-left: 20px;}
.share-note span{ margin-right: 15px;}

#box{ display:none; position: absolute;left: 0; top: 38px; background: #fff; border: 1px solid #ccc; width: 203px;}
.box-top{ height: 30px; line-height: 30px; text-align: left; background: #f5f5f5; color: #666; border-bottom: 1px solid #ccc; padding: 0 7px; color: #000;}
.box-main{ padding:12px 15px 10px 15px; overflow: hidden;}
.box-main select{ float: left; width: 51px; margin-right: 3px;}
.box-main .form-control{ padding:6px 7px;}
/*.box-main button{ width: 30px; height: 32px; border: 0; background: url("../images/d.png") no-repeat center #ccc; border: 1px solid #ccc;}*/
/*.box-main button.btn-x{ background: url("../images/x.png") no-repeat center #ccc;}*/
/*.box-main button:hover{ background: url("../images/d.png") no-repeat center #12AFCB; border: 1px solid #12AFCB;}*/
/*.box-main button.btn-x:hover{ background: url("../images/x.png") no-repeat center #12AFCB;}*/

.con-type{ overflow: hidden; padding: 20px 15px 5px 15px;}
.type-col{ float: left; width: 18.9999999%; margin-right: 10px;}
.type-col .inner { display: block; padding: 18px 40px 18px 20px; color: #fff;}
.inner h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;}
.small-box{ position: relative;}
.bg-aqua{ background:#22baa0;}
.bg-green{ background:#12afcb;}
.bg-yellow{ background:#f6d433;}
.bg-ora{ background:#ffaa3d;}
.bg-red{ background:#f25656;}

/*.ion{ position: absolute; bottom: 18px; right: 18px; width:55px; height: 42px; background: url("../images/h-1.png") right center no-repeat;}*/
/*i.ion-bag{ background: url("../images/h-1.png") no-repeat; right: 15px;}*/
/*i.ion-stats-bars{ background: url("../images/h-2.png") no-repeat; right: 5px;}*/
/*i.ion-person-add{ background: url("../images/h-3.png") no-repeat; bottom: 11px; right: 16px;}*/
/*i.ion-pie-graph{ background: url("../images/h-4.png") no-repeat; bottom: 17px; right: 6px;}*/
/*i.ion-pie-num{ background: url("../images/h-5.png") no-repeat; bottom: 17px; right: 0;}*/

/*弹出框*/
.popupp{ width: 100%; background: #fff; font-family: "Microsoft yahei"; padding: 7px 15px 15px 15px;}
.popup{ width: 70%; background: #fff; font-family: "Microsoft yahei"; padding: 7px 15px 15px 15px;}
.popup-top{ height: 50px; line-height: 50px; border-bottom: 2px solid #cdcdcd;}
.popup-top span{ width:400px; font-size:16px; font-weight: bold; color: #5f5e5e;}
/*.popup-top i{ display:inline-block; width: 13px; height: 13px; background: url("../images/clse.png") no-repeat; margin-top: 20px; margin-right: 7px; cursor: pointer;}*/
.table-tc > thead > tr > th{ color: #333; border-bottom: 2px solid #f4f4f4;}
.table-tc > thead > tr > th.grey{ color: #999;}
.table-tc > thead > tr > th{ width: 10%;}
.table-tc-m{ color: #666;}
.table-tc-m > tbody > tr:nth-last-child(1) > td{ border-bottom: 0;}
.popup .table{ margin: 0;}
.popup-btn{ float: right; padding: 10px 0 5px 0;}
.popup-btn button{ background: #e7e7e7; border: 0; padding: 8px 20px; color: #666;}

.pt-ss{ margin-bottom: 15px;}
.input-ss{ width: 157px; height: 31px; border: 0;}
/*.pt-r .btn-ss{ width:25px; height: 25px; background:url("../images/btn-ss.png") no-repeat center #22baa0;}*/
/*.pt-r .btn-ex{ width:25px; height: 25px; background:url("../images/btn-ex.png") no-repeat center #22baa0;}*/
/*.pt-r .btn-ss-new{ width:55px; height: 40px; background:url("../images/btn-ss.png") no-repeat center #22baa0;}*/
/*.pt-r .btn-ex-new{ width:55px; height: 40px; background:url("../images/btn-ex.png") no-repeat center #22baa0;}*/

/* .btn-ex-search{  background: no-repeat center rgb(190 190 190);} */
/*分页*/
/*.page{ display:inline-block; margin: 5px 0 40px 15px; border-right: 1px solid #eee; overflow: hidden;}
.page span, .page a{ float:left; display: inline-block; width: 40px; height: 24px; line-height: 30px; text-align: center; border: 1px solid #eee; border-right: 0;}
.page a{ color: #666;}
.page a.dq{ background: #12AFCB; color: #fff;}
.page span{ background: url("../images/prev.png") no-repeat center; cursor: pointer;}
.page span.next{ background: url("../images/next.png") no-repeat center;}
*/

/*订单审核*/
.panel-list{ border-top: 2px solid #ddd; margin-top: 10px; padding: 20px 15px;}
.table-pl td{ padding: 10px 0;}
.state a{ display:inline-block; width: 100px; height: 29px; line-height: 29px; text-align: center; background: #f4f4f4; border: 1px solid #e5e5e5; color: #666; margin-right: 7px; border-radius: 4px;}
.state a:hover{ width: 85px; background: url("../images/zt.png") no-repeat #12afcb; padding-left: 15px; color: #fff; border: 1px solid #12afcb;}
.sx-num{ float: left;}
.sx-num .pt-r-l{ border: 1px solid #e5e5e5; border-left: 0;}
.sx-num .btn-ss{ background: #f4f4f4; color: #666;}
.sx-num .btn-ex{ background: #f4f4f4; color: #666;}
.table-pl textarea{ font-size: 12px;}
.btn-tj{ width: 80px; height: 32px; line-height: 32px; text-align: center; background: #12afcb; color: #fff; border: 0; margin-right: 10px; font-size: 14px;}
.btn-fh{ background: #e7e7e7; color: #333;}
.popup-btn button.btn-qr{ background: #12afcb; color: #fff;}
.tab-fj{ border: 1px dashed #ccc; padding: 10px; margin-bottom: 5px;}
.fj-add{ width:99px; height: 90px; border: 1px dashed #ccc; cursor: pointer;}
.img-fj img{ border: 1px solid #ddd; margin-right: 5px;}
.table-tc > thead > tr.t > th{ border-bottom: 2px solid #fff;}
.opacity{opacity: 0.5;}
.hand:hover{cursor:not-allowed} 

.loading{
	width:160px;
	height:56px;
	position: absolute;
	top:50%;
	left:40%;
	line-height:56px;
	color:#fff;
	padding-left:60px;
	font-size:15px;
	background: #000 url("../images/loading.gif") no-repeat 10px 50%;
	opacity: 0.7;
	z-index:9999;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}